* {
  transition: all 0.2s linear;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body,
html {
  overflow-x: hidden;
}
.container {
  margin: 0 auto;
  max-width: 1290px;
  padding: 0 20px;
}

